<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.p.Dao.GoodMapper">
    <insert id="insertGood">
        insert into goods(price,name,inventory,category)values(#{price},#{name},#{inventory},#{category})
    </insert>
    <select id="selectGood" resultType="com.p.Model.Good">
        select*from goods where id=#{id}
    </select>
    <delete id="deleteGood">
        delete from goods where id=#{id}
    </delete>
    <update id="updateGood">
        update goods set price = #{price},name =#{name},inventory=#{inventory} ,category=#{category}where id=#{id}
    </update>
    <select id="selectCount" resultType="int">
        select count(*)from goods
    </select>
    <select id="selectRange" resultType="com.p.Model.Good">
        select * from goods limit #{a},#{b}
    </select>
</mapper>